$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", serif;
$cursive-font: "Kaushan Script", cursive;
$header-font-color: #ffffff;
$body-main-color: #333333;
$body-secondary-color: #999999;
$main-hover-color: #f38181;
$second-hover-color: #fce38a;
