@media (min-width: 520px) {
  .site-navigation {
    max-width: 480px;
  }

  .partner-title {
    margin-bottom: 32px;
  }
  .description {
    width: auto;
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 480px;
  }

  .site-navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    padding-top: 50px;
    max-width: 670px;
  }
  .authorisation {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .logo {
    margin-bottom: 0;
  }

  .title {
    font-size: 52px;
    width: 510px;
  }

  .find-partner-btn {
    width: 228px;
  }
}

@media (min-width: 960px) {
  .container {
    width: 940px;
  }

  .site-navigation {
    margin-bottom: 160px;
    padding-top: 50px;
    max-width: 940px;
  }

  .title {
    margin-bottom: 40px;
  }

  .header {
    padding-bottom: 234px;
  }
}
