/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", serif;
}

body {
  font-family: var(--main-font);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.header {
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/header-bg-min.png);
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/header-bg-min.png);
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/header-bg-min.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 28px;
  padding-bottom: 226px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 164px;
}

.navigation__list {
  width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 16px;
  margin-right: 52px;
}

.navigation__list-link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 0px solid #fce38a;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.buttons-list {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 16px;
}

.menu-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-btn__icon {
  width: 18px;
  height: 18px;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-btn:hover .menu-btn__icon {
  fill: #fce38a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.navigation__list-link:hover {
  color: #fce38a;
  padding-bottom: 12px;
  border-bottom: 3px solid #fce38a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 150px;
  font-weight: 700;
  width: 800px;
  margin: 0 auto 60px auto;
  letter-spacing: -0.04em;
}

.header__title-br {
  display: block;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: #fff;
  text-transform: none;
  margin-bottom: 18px;
  letter-spacing: 0;
}

.header__btn {
  border: 3px solid #ffffff;
  width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-transform: uppercase;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.header__btn:before {
  content: "";
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0.1)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  height: 35px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: -75px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.header__btn:hover {
  background: rgba(243, 129, 129, 0.9);
  -webkit-transition: 0.6s linear;
  -o-transition: 0.6s linear;
  transition: 0.6s linear;
}

.header__btn:hover:before {
  left: 170px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.services-title,
.team-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}

.services-title__br,
.team-title__br {
  text-transform: none;
  font-family: "Kaushan Script", cursive;
  display: block;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 400;
}

.services-title::after,
.team-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}

.services {
  padding-top: 46px;
  padding-bottom: 20px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  margin-bottom: 90px;
  position: relative;
  padding-left: 60px;
}

.services__list-item:hover .services__list-item-icon {
  -webkit-transition: 0.6s linear;
  -o-transition: 0.6s linear;
  transition: 0.6s linear;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  fill: #f38181;
}

.services__list-item-icon {
  width: 32px;
  height: 32px;
  fill: #95e1d3;
  position: absolute;
  top: 0;
  left: 0;
}

.services__list-item-name {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.services__list-item-text {
  font-family: var(--secondary-font);
  font-size: 15px;
  color: #999;
}

.team {
  padding-bottom: 36px;
}

.team-description {
  max-width: 960px;
  margin: 0 auto 92px auto;
  font-family: var(--secondary-font);
  color: #999;
  font-size: 15px;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team__list-item {
  width: 380px;
}

.team__list-item-img-wrapper {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  visibility: hidden;
  opacity: 0;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-list__item {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social-list__item:not(:last-child) {
  margin-right: 1px;
}

.social-list__item-link {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list__item-link--icon {
  width: 26px;
  height: 26px;
  fill: #f38181;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social-list__item:hover {
  background-color: #f38181;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social-list__item:hover .social-list__item-link--icon {
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.team__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.team__list-item:hover .team__list-item-img-wrapper {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 10px 10px 0px 0px rgb(149, 225, 211);
  box-shadow: 10px 10px 0px 0px rgb(149, 225, 211);
}

.team__list-item-name {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.team__list-item-position {
  text-align: center;
  color: #999;
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 15px;
}

.footer {
  padding-top: 46px;
  padding-bottom: 22px;
}

.footer-wrapper {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-wrapper__text {
  font-size: 15px;
  color: #333;
}

.footer-wrapper__text--link {
  color: #f38181;
}

.footer-wrapper__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-wrapper__form-email {
  width: 230px;
  padding-left: 12px;
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 15px;
  border: 1px solid #e7e7e7;
}

.footer-wrapper__form-email::-webkit-input-placeholder {
  color: #ccc;
}

.footer-wrapper__form-email::-moz-placeholder {
  color: #ccc;
}

.footer-wrapper__form-email:-ms-input-placeholder {
  color: #ccc;
}

.footer-wrapper__form-email::-ms-input-placeholder {
  color: #ccc;
}

.footer-wrapper__form-email::placeholder {
  color: #ccc;
}

.footer-wrapper__form-email:invalid:not(:placeholder-shown) {
  outline-color: rgb(255, 0, 0);
  outline-style: auto;
}

.footer-wrapper__form-email:valid:not(:placeholder-shown) {
  outline-color: rgb(0, 80, 0);
}

.footer-wrapper__form-btn {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header {
    background-image: -o-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/header-bg@2x-min.png);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../img/header-bg@2x-min.png);
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/header-bg@2x-min.png);
  }
}
